/Results/
/venv/
/Plot/All Data/
/Plot/All Data/Full Classes/
/Plot/All Data/Limited Classes/
/Plot/Partial Data/
/Plot/Same Classes/
/Plot/Same Data/
/Consumer/Decision Tree/
/Consumer/K Mean/
/Consumer/K Nearest Neighbor/
/Consumer/Support Vector Machine/
/Data.tar
/DataMiningNotes.txt
